<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DB Doc</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.0/marked.min.js"
      integrity="sha512-9xs4M7yksWUBIo+Jhfs65z7U4QTKNuVeN6Desvi2nXREybeQB3RfTBDELEcXD1HaNlnshG87a1SijMShvp4Zcw=="
      crossorigin="anonymous"
    ></script>

    <script>
      const md = `{{.}}`;

      window.onload = () => {
        content.innerHTML = marked(md);
      };
    </script>

    <style>
      body {
        font-family: monospace;
      }
      h1 {
        margin: 60px 0;
        text-align: center;
      }
      #content {
        margin: auto;
        max-width: 1050px;
      }
      table {
        border-collapse: collapse;
      }
      table:nth-of-type(2n) {
        width: 100%;
      }
      th,
      td {
        border: 1px solid #333;
        padding: 4px 10px;
      }
      th {
        background-color: #333;
        color: #eee;
      }

      @media print {
        h2 {
          border-top: 1px solid #555;
          margin-top: 40px;
          padding-top: 40px;
        }
      }
    </style>
  </head>
  <body>
    <h1>DB Doc</h1>
    <div id="content"></div>
  </body>
</html>
